@import "../../../styles/partials/variables";

.preview-rain-forecast {
  padding: $section-border-radius;
  color: $primary-text-color;
  background-color: $minute-forecast-bg-color;
  // border-radius: $section-border-radius;
  border-radius: $section-item-border-radius;
  height: 100%;
  display: flex;
  flex-direction: column;
  .preview-rain-forecast-title {
    margin-top: -$section-border-radius;
    margin-left: -$section-border-radius;
    margin-right: -$section-border-radius;
    padding: $title-padding-y $title-padding-x;
    font-size: $title-font-size-small;
    @media screen and (min-width: $media-query-small-screen) {
      font-size: $title-font-size-large;
    }
    font-weight: 700;
    border-bottom: 1px solid white;
    // text-align: center;
  }
  .preview-rain-forecast-content {
    // height: 100%;
    flex: 1;
    // padding-top: 22px;
    margin-top: $section-border-radius;
    // @media screen and (min-width: $media-query-large-screen) {
    //   padding-top: 15px;
    // }
    .preview-rain-forecast-rain-graph {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .svg-wrapper {
        margin-left: calc(-#{$section-border-radius} + 10px);
        margin-left: calc(-#{$section-border-radius});
        margin-right: calc(-#{$section-border-radius} + 5px);
      }
      .display-more {
        // grid-area: display-more;
        display: flex;
        justify-content: flex-end;
        margin-top: $section-border-radius;
        font-size: 14px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 16px;
        }
        a {
          display: flex;
          align-items: baseline;
          color: $primary-text-color;
          text-decoration: none;
          .show-details-arrow {
            margin-left: 4px;
          }
        }
      }
    }
  }
}
