@import "../../../styles/partials/variables";

#rain-forecast {
  display: flex;
  flex-direction: column;
  height: 100%;
  #rain-forecast-content {
    .rain-forecast-rain-graph {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .svg-wrapper {
        margin-left: calc(-#{$section-border-radius});
        margin-right: calc(-#{$section-border-radius} + 5px);
      }
    }
  }
}
