@import "../../../styles/partials//variables";

.preview-alerts {
  @media screen and (min-width: $media-query-large-screen) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  padding: $section-border-radius;
  color: $primary-text-color;
  background-color: $alerts-bg-color;
  border-radius: $section-item-border-radius;
  .preview-alerts-title {
    margin-top: -$section-border-radius;
    margin-left: -$section-border-radius;
    margin-right: -$section-border-radius;
    padding: $title-padding-y $title-padding-x;
    font-size: $title-font-size-small;
    @media screen and (min-width: $media-query-small-screen) {
      font-size: $title-font-size-large;
    }
    font-weight: 700;
    border-bottom: 1px solid white;
    // text-align: center;
  }
  .preview-alerts-content {
    display: grid;
    grid-template-columns: minmax(0px, 1fr);
    grid-gap: 20px;
    @media screen and (min-width: $media-query-medium-screen) {
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      // grid-column-gap: calc(40px + #{$section-border-radius});
      // grid-column-gap: $section-border-radius;
      // grid-row-gap: 20;
    }
    margin-top: $section-border-radius;
    .alert {
      display: grid;
      grid-template-columns: repeat(2, auto) minmax(0, 1fr);
      grid-template-rows: repeat(4, auto) minmax(0, 1fr);
      grid-template-areas:
        "alert-sender-title alert-sender-value ."
        "alert-event-title alert-event-value ."
        "alert-start-title alert-start-value ."
        "alert-end-title alert-end-value .";
      grid-row-gap: 4px;
      padding: 20px;
      font-size: 14px;
      @media screen and (min-width: $media-query-small-screen) {
        font-size: 16px;
      }
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: $alert-border-radius;
      word-break: break-word;
      .alert-title {
        margin-right: 10px;
        font-weight: 400;
      }
      .alert-value {
        font-weight: 400;
      }
      .alert-sender-title {
        grid-area: alert-sender-title;
      }
      .alert-sender-value {
        grid-area: alert-sender-value;
      }
      .alert-event-title {
        grid-area: alert-event-title;
      }
      .alert-event-value {
        grid-area: alert-event-value;
        font-weight: 700;
      }
      .alert-start-title {
        grid-area: alert-start-title;
      }
      .alert-start-value {
        grid-area: alert-start-value;
        font-style: italic;
      }
      .alert-end-title {
        grid-area: alert-end-title;
      }
      .alert-end-value {
        grid-area: alert-end-value;
        font-style: italic;
      }
    }
  }
  .display-more {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-top: $section-border-radius;
    @media screen and (min-width: $media-query-small-screen) {
      font-size: 16px;
    }
    a {
      display: flex;
      align-items: baseline;
      color: $primary-text-color;
      text-decoration: none;
      .show-details-arrow {
        margin-left: 4px;
      }
    }
  }
}
