@import "../../../styles/partials//variables";

.preview-current-weather {
  padding: 20px;
  @media screen and (min-width: $media-query-xlarge-screen) {
    padding: 20px 0;
  }
  .preview-current-weather-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      "weather-icon temp-temp-feels-like-wrapper"
      "weather-description ."
      "location-date-time-wrapper ."
      "wind-cloudiness-humidity-wrapper wind-cloudiness-humidity-wrapper"
      "display-more display-more";
    color: $primary-text-color;
    background-color: $section-bg-color;
    padding: $section-border-radius;
    border-radius: $section-border-radius;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .weather-icon {
      grid-area: weather-icon;
      img {
        width: 75px;
        height: 75px;
        @media screen and (min-width: $media-query-small-screen) {
          width: 100px;
          height: 100px;
        }
      }
    }
    .weather-description {
      grid-area: weather-description;
      margin-bottom: 30px;
      font-size: 20px;
      @media screen and (min-width: $media-query-small-screen) {
        font-size: 24px;
      }
      font-weight: 500;
      text-transform: capitalize;
    }
    .temp-temp-feels-like-wrapper {
      grid-area: temp-temp-feels-like-wrapper;
      justify-self: flex-end;
      align-self: center;
      .temp {
        margin-bottom: 4px;
        font-size: 32px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 40px;
        }
        font-weight: 700;
      }
      .temp-feels-like {
        font-size: 12px;
        color: $preview-current-weather-secondary-color;
        // font-weight: 300;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 14px;
        }
      }
    }
    .location-date-time-wrapper {
      grid-area: location-date-time-wrapper;
      .location {
        margin-bottom: 10px;
        font-size: 16px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 18px;
        }
        font-weight: 700;
        .location-text {
          position: relative;
          display: inline;
          .wrong-location-text {
            position: absolute;
            top: -8px;
            right: -18px;
            font-size: 12px;
            @media screen and (min-width: $media-query-small-screen) {
              top: -10px;
              right: -20px;
              font-size: 14px;
            }
            padding: 4px;
            cursor: pointer;
          }
        }
      }
      .date {
        margin-bottom: 6px;
        font-size: 12px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 14px;
        }
      }
      .time-gmt {
        margin-bottom: 40px;
        font-size: 12px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 14px;
        }
      }
    }
    .wind-cloudiness-humidity-wrapper {
      position: relative;
      grid-area: wind-cloudiness-humidity-wrapper;
      margin-left: -$section-border-radius;
      margin-right: -$section-border-radius;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-areas:
        "title-wind title-cloudiness title-humidity"
        "value-wind value-cloudiness value-humidity";
      padding-top: 12px;
      background-color: $wind-cloudiness-humidity-wrapper-bg-color;
      color: $wind-cloudiness-humidity-wrapper-color;
      .card-effect {
        position: absolute;
        top: 0;
        height: 100%;
        width: 12px;
        background-color: $wind-cloudiness-humidity-wrapper-bg-color;
        &::before {
          content: " ";
          position: absolute;
          right: 0;
          top: -12px;
          width: 0;
          border: 6px solid rgb(212, 139, 3);
          border-top-color: transparent;
        }
      }
      .card-effect-1 {
        right: -12px;
        &::before {
          content: " ";
          border-right-color: transparent;
        }
      }
      .card-effect-2 {
        left: -12px;
        &::before {
          content: " ";
          border-left-color: transparent;
        }
      }
      .title {
        color: $wind-cloudiness-humidity-wrapper-title-color;
        font-size: $wind-cloudiness-humidity-wrapper-title-font-size;
        font-weight: $wind-cloudiness-humidity-wrapper-title-font-weight;
        margin-bottom: $wind-cloudiness-humidity-wrapper-title-margin-bottom;
      }
      .value {
        margin-bottom: $wind-cloudiness-humidity-wrapper-value-margin-bottom;
        font-size: $wind-cloudiness-humidity-wrapper-value-font-size;
        font-weight: 500;
      }
      .title-wind {
        grid-area: title-wind;
      }
      .title-cloudiness {
        grid-area: title-cloudiness;
      }
      .title-humidity {
        grid-area: title-humidity;
      }
      .value-wind {
        grid-area: value-wind;
      }
      .value-cloudiness {
        grid-area: value-cloudiness;
      }
      .value-humidity {
        grid-area: value-humidity;
      }
    }
    .display-more {
      grid-area: display-more;
      justify-self: flex-end;
      margin-top: 20px;
      a {
        color: $primary-text-color;
        text-decoration: none;
      }
    }
  }
}
