@import "../../../styles/partials//variables";

.preview-current-weather {
  padding: 20px;
  @media screen and (min-width: $media-query-xlarge-screen) {
    padding: 20px 0;
  }
  .preview-current-weather-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-text-color;
    background-color: $section-bg-color;
    // color: white;
    // color: $primary-bg-color;
    // background-color: $logo-color;
    // new
    // background-image: url("../../../images/aacurrentweatherbgpic.webp");
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;

    padding: 40px;
    border-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    //   rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    .temp {
      margin-top: 20px;
      font-size: 40px;
      font-weight: 700;
    }
    .location {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      // align-items: baseline;
      .location-text {
        font-size: 24px;
      }
      .wrong-location-text {
        position: absolute;
        right: -20px;
        top: -10px;
        font-size: 14px;
        padding: 4px;
        cursor: pointer;
      }
    }
    .windArrow {
      position: relative;
      margin-left: 20px;
      width: 40px;
      height: 40px;
      background-color: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      .wind-arrow {
        font-size: 26px;
        color: #797d80;
      }
      .wind-speed-beaufort {
        position: absolute;
        font-size: 14px;
        background-color: white;
        border: 1px solid #797d80;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #18191a;
      }
    }
  }
}
