.wrong-location-tooltip {
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(1, 136, 247, 0.8);
  color: white;
  width: calc(100% + 40px);
  top: -20px;
  padding: 10px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
  .wrong-location-tooltip-content {
    code {
      background-color: white;
      color: rgb(100, 100, 100);
      border: 1px solid rgb(173, 173, 173);
      margin-top: 6px;
      padding: 8px;
      border-radius: 4px;
      display: inline-block;
    }
    .close-button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .wrong-location-tooltip-close {
        padding: 6px 12px;
        background: black;
        color: white;
        border: none;
        font-size: 14px;
        font-weight: 600;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.wrong-location-tooltip-active {
  opacity: 1;
  transform: translateY(0);
}
