@import "../../../styles/partials/variables";

.wrong-location-tooltip {
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $wrong-location-tooltip-bg-color;
  color: $wrong-location-tooltip-color;
  // width: calc(100% + 2px);
  width: 100%;
  // top: -1px;
  top: 0;
  left: 0;
  // left: -1px;
  padding: $section-border-radius;
  transform: scale(0.1);
  opacity: 0;
  border-radius: $section-item-border-radius;
  // height: calc(100% + 2px);
  height: 100%;
  transition: transform 350ms ease-in-out, opacity 400ms ease-in-out;
  pointer-events: none;
  .wrong-location-tooltip-content {
    .wrong-location-tooltip-content-text {
      margin-bottom: 20px;
    }
    code {
      background-color: white;
      color: rgb(100, 100, 100);
      border: 1px solid rgb(173, 173, 173);
      margin-top: 6px;
      padding: 8px;
      border-radius: 4px;
      display: inline-block;
    }
    .close-button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .wrong-location-tooltip-close {
        padding: 6px 12px;
        background-color: $logo-color;
        color: black;
        border: none;
        font-size: 14px;
        font-weight: 600;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.wrong-location-tooltip-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}
