// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 700px;
$media-query-large-screen: 900px;
$media-query-xlarge-screen: 1200px;

// general
$primary-bg-color: #0282eb;
// $primary-bg-color: #0282eb;
// $primary-bg-color: #fdfcf3;
$primary-bg-color: white;
// $primary-bg-color: #03030a;
$secondary-bg-color: white;
// $secondary-bg-color: #fdfcf3;
$primary-text-color: white;
$secondary-text-color: black;
// $secondary-text-color: #0282eb;

// WeatherNavbar
$nav-height: 65px;
$logo-color: rgb(255, 208, 0);
$logo-text-color: #0282eb;
// $logo-text-color: #4359f5;
$error-bg-color: rgba(255, 58, 58, 0.9);
$navbar-text-color: #0282eb;
// $navbar-text-color: #4359f5;
// $navbar-text-color: black;
// $navbar-border-color: rgb(230, 232, 235);
$navbar-border-color: #dfe1e5;
$navbar-input-height: 38px;

// PreviewCurrentWeather
// $wrong-location-tooltip-color: rgba(1, 136, 247, 0.8);
$preview-current-weather-secondary-color: rgb(224, 224, 224);
$wrong-location-tooltip-color: rgb(255, 208, 3);
$section-bg-color: orange;
$section-bg-color: #4359f5;
$section-border-radius: 24px;
$wind-cloudiness-humidity-wrapper-color: rgb(255, 255, 255);
$wind-cloudiness-humidity-wrapper-color: rgb(0, 0, 0);
$wind-cloudiness-humidity-wrapper-bg-color: rgb(32, 32, 32);
$wind-cloudiness-humidity-wrapper-bg-color: rgba(255, 255, 255, 0.151);
$wind-cloudiness-humidity-wrapper-bg-color: rgb(255, 208, 3);
$wind-cloudiness-humidity-wrapper-border-radius: 12px;
$wind-cloudiness-humidity-wrapper-title-color: rgb(167, 167, 167);
$wind-cloudiness-humidity-wrapper-title-color: rgb(190, 190, 190);
$wind-cloudiness-humidity-wrapper-title-color: rgb(88, 88, 88);
$wind-cloudiness-humidity-wrapper-title-margin-bottom: 4px;
$wind-cloudiness-humidity-wrapper-value-margin-bottom: 10px;
$wind-cloudiness-humidity-wrapper-title-font-size: 12px;
$wind-cloudiness-humidity-wrapper-title-font-weight: 500;
$wind-cloudiness-humidity-wrapper-value-font-size: 18px;
// $section-bg-color: #21dfb6;
// $section-bg-color: #0282eb;
// $section-bg-color: #4be2e3;
// $section-bg-color: white;

// wind-arrow
// $wind-arrow-color: #797d80;
$wind-arrow-color: rgb(168, 168, 168);
$wind-arrow-color: white;
$wind-arrow-color: black;
// $wind-arrow-circle-bg-color: white;
$wind-arrow-circle-bg-color: white;
// $wind-arrow-circle-color: #18191a;
$wind-arrow-circle-text-color: black;

// $media-query-xxsmall-screen: 380px;
// $media-query-xsmall-screen: 420px;
// $media-query-small-screen: 480px;
// $media-query-medium-screen: 600px;
// $media-query-large-screen: 900px;
// $media-query-xlarge-screen: 1200px;
// $media-query-xxlarge-screen: 1440px;
