$nav-height: 65px;

// WeatherNavbar
$navbar-primary-bg-color: #0282eb;
$navbar-error-bg-color: rgba(255, 58, 58, 0.9);

// Media queries
$media-query-small-screen: 420px;

// $media-query-xxsmall-screen: 380px;
// $media-query-xsmall-screen: 420px;
// $media-query-small-screen: 480px;
// $media-query-medium-screen: 600px;
// $media-query-large-screen: 900px;
// $media-query-xlarge-screen: 1200px;
// $media-query-xxlarge-screen: 1440px;
