// Media queries
$media-query-xxsmall-screen: 380px;
$media-query-xsmall-screen: 420px;
$media-query-small-screen: 480px;
$media-query-medium-screen: 600px;
$media-query-large-screen: 900px;
$media-query-xlarge-screen: 1200px;
$media-query-xxlarge-screen: 1440px;

// Navbar.scss
$add-to-bag-color: rgb(250, 70, 22);
$nav-height: 65px;

// ShopDetails.scss
$border-radius-img-margin-title: 0.5rem;

// Cart.scss
$cart-items-amount-height: 110px;

// CartOrderItems.scss
$divide-line-bg-color-white: #e9e9e9;

// CartOrderSummary.scss
$divide-line-bg-color-black: #333;
