.preview-week-forecast {
  margin-top: 80px;
  margin-bottom: 20px;
  .preview-week-forecast-content {
    .preview-week-forecast-content-day {
      margin-bottom: 40px;
      .windArrow {
        position: relative;
        margin-left: 20px;
        width: 40px;
        height: 40px;
        background-color: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        .wind-arrow {
          font-size: 26px;
          color: #797d80;
        }
        .wind-speed-beaufort {
          position: absolute;
          font-size: 14px;
          background-color: white;
          border: 1px solid #797d80;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #18191a;
        }
      }
    }
  }
}
