@import "../../../styles/partials/variables";

#week-forecast {
  display: flex;
  flex-direction: column;
  box-shadow: $section-box-shadow;
  #week-forecast-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
