@import "./partials/variables";

.weather-news-category {
  display: flex;
  flex-direction: column;
  padding: $section-border-radius;
  color: $primary-text-color;
  background-color: $section-bg-color;
  border-radius: $section-item-border-radius;
  box-shadow: $section-box-shadow;
  .weather-news-category-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: $section-border-radius;
  }
}
