@import "../styles/partials/variables";

.weather-navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  @media screen and (min-width: $media-query-small-screen) {
    padding: 0 20px;
  }
  width: 100%;
  height: $nav-height;
  color: white;
  background-color: $navbar-primary-bg-color;
  .weather-navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    a {
      text-decoration: none;
      cursor: pointer;
      .navbar-logo {
        display: flex;
        align-items: center;
        padding: 4px 0;
        .navbar-logo-svg {
          font-size: 22px;
          color: rgb(255, 208, 0);
        }
        .navbar-logo-text {
          display: none;
          color: white;
          text-decoration: none;
          @media screen and (min-width: $media-query-small-screen) {
            display: block;
          }
          font-weight: 500;
        }
      }
    }
    .navbar-input-temp-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      .navbar-input-error-wrapper {
        position: relative;
        flex-grow: 1;
        margin: 0 10px;
        max-width: 320px;
        .navbar-input {
          position: relative;
          flex-grow: 1;
          padding: 5px 30px 5px 5px;
          width: 100%;
          height: 29px;
          border: none;
          border-radius: 4px;
          text-overflow: ellipsis;
          &:focus {
            outline: none;
          }
        }
        .navbar-search-icon {
          position: absolute;
          top: 50%;
          right: 2px;
          transform: translate(-50%, -50%);
          color: $navbar-primary-bg-color;
          cursor: pointer;
        }
        .weather-navbar-error {
          position: absolute;
          top: 10px;
          display: flex;
          align-items: center;
          padding: 0 6px;
          width: 100%;
          height: 100%;
          font-size: 12px;
          color: white;
          background-color: $navbar-error-bg-color;
          border-radius: 4px;
          transform-origin: bottom left;
          animation: showTooltip 350ms ease-in-out;
          animation-fill-mode: forwards;
        }
        .weather-navbar-error::after {
          content: "";
          position: absolute;
          left: 18px;
          bottom: 100%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent $navbar-error-bg-color
            transparent;
        }
      }
      .navbar-temp-button {
        padding: 0;
        height: 29px;
        background-color: white;
        border: none;
        border-radius: 4px;
        .navbar-temp-button-metric-units {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          font-size: 10px;
          .navbar-temp-button-metric-units-active {
            display: flex;
            justify-content: flex-start;
            padding-left: 6px;
            width: 28px;
            font-size: 20px;
            color: $navbar-primary-bg-color;
          }
          .navbar-temp-button-metric-units-inactive {
            display: flex;
            justify-content: flex-start;
            padding-left: 0px;
            padding-right: 6px;
            width: 24px;
            font-size: 10px;
            color: rgb(116, 116, 116);
          }
        }
      }
    }
  }
}

@keyframes showTooltip {
  0% {
    opacity: 0;
    scale: 0.1;
    transform: translateY(24px);
  }

  60% {
    transform: translateY(38px);
    scale: 1;
  }

  70% {
    transform: translateY(26px);
  }

  80% {
    transform: translateY(34px);
  }

  90% {
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(32px);
  }
}
