@import "../styles/partials/variables";

.weather-navbar {
  position: fixed;
  // background-color: white;
  background-color: $navbar-primary-color;
  top: 0;
  z-index: 999;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  width: 100%;
  height: $nav-height;
  // border: 2px solid red;
  // padding: 0 30px;
  display: flex;
  align-items: center;
  color: white;
  .navbar-logo {
    display: flex;
    align-items: baseline;
    .navbar-logo-svg {
      font-size: 22px;
      // color: rgb(255, 208, 0);
      color: rgb(255, 208, 0);
    }
    .navbar-logo-text {
      font-weight: 500;
    }
  }
  .navbar-input-error-wrapper {
    position: relative;
    margin: 0 5px;
    .navbar-input {
      position: relative;
      padding: 5px;
      border-radius: 4px;
      // border: 2px solid grey;
      border: none;
      &:focus {
        outline: none;
      }
    }
    .navbar-search-icon {
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $navbar-primary-color;
      cursor: pointer;
    }
    .weather-navbar-error {
      position: absolute;
      display: flex;
      align-items: center;
      padding: 0 6px;
      // top: 36px;
      top: 10px;
      border-radius: 4px;
      // color: red;
      color: white;
      font-size: 12px;
      // border: 1px solid green;
      width: 100%;
      height: 100%;
      // padding: 10px 6px;
      // z-index: 10000;
      // background-color: rgba(49, 49, 49, 0.801);
      background-color: rgba(255, 58, 58, 0.9);
      transform-origin: bottom left;
      animation: showTooltip 350ms ease-in-out;
      animation-fill-mode: forwards;
    }
    .weather-navbar-error::after {
      content: "";
      position: absolute;
      bottom: 100%;
      // left: 12px;
      left: 18px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      // border-color: transparent transparent rgba(49, 49, 49, 0.801) transparent;
      border-color: transparent transparent rgba(255, 0, 0, 0.9) transparent;
    }
  }
  .navbar-temp-button {
    border: none;
    padding: 3px 0;
    width: 60px;
    height: 29px;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    // color: rgb(255, 255, 255);
    border: 2px solid white;
    // background-color: $navbar-primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-temp-button-span-metric-units {
      display: flex;
      align-items: baseline;
      // justify-content: center;
      font-size: 10px;
      color: rgb(116, 116, 116);
      .navbar-temp-button-active {
        font-size: 20px;
        color: $navbar-primary-color;
        margin-right: 10px;
      }
    }
  }
}

@keyframes showTooltip {
  0% {
    opacity: 0;
    scale: 0.1;
    transform: translateY(24px);
  }

  60% {
    transform: translateY(38px);
    scale: 1;
  }

  70% {
    transform: translateY(26px);
  }

  80% {
    transform: translateY(34px);
  }

  90% {
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(32px);
  }
}
