@import "../../../styles/partials/variables";

.preview-two-days-forecast-weather {
  border-radius: $section-border-radius;
  background-color: $two-days-forecast-bg-color;
  padding: $section-border-radius;
  color: $two-days-forecast-color;
  // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  //   rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .preview-two-days-forecast-weather-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    .preview-two-days-forecast-weather-content-hour {
      margin-bottom: 40px;
      .windArrow {
        position: relative;
        margin-left: 20px;
        width: 40px;
        height: 40px;
        background-color: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        .wind-arrow {
          font-size: 26px;
          color: #797d80;
        }
        .wind-speed-beaufort {
          position: absolute;
          font-size: 14px;
          background-color: white;
          border: 1px solid #797d80;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #18191a;
        }
      }
    }
  }
}
