@import "../../../styles/partials/variables";

.preview-two-days-forecast-weather {
  // border-radius: $section-border-radius;
  border-radius: $section-item-border-radius;
  background-color: $two-days-forecast-bg-color;
  // background-color: $section-bg-color;
  padding: $section-border-radius;
  color: $two-days-forecast-color;
  // height: 100%;
  overflow-x: auto;
  // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  //   rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;z
  display: flex;
  flex-direction: column;
  .preview-two-days-forecast-weather-title {
    margin-top: -$section-border-radius;
    margin-left: -$section-border-radius;
    margin-right: -$section-border-radius;
    padding: $title-padding-y $title-padding-x;
    font-size: $title-font-size-small;
    @media screen and (min-width: $media-query-small-screen) {
      font-size: $title-font-size-large;
    }
    font-weight: 700;
    border-bottom: 1px solid white;
    // text-align: center;
  }
  .preview-two-days-forecast-weather-content {
    flex: 1;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 100%;
    // .preview-two-days-forecast-weather-content-hour-wrapper {
    //   display: grid;
    //   grid-template-columns: repeat(4, minmax(0, 1fr));
    //   .preview-two-days-forecast-weather-content-hour {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
    .preview-two-days-forecast-weather-content-hour-wrapper {
      // flex: 1;
      display: grid;
      justify-items: center;
      // align-items: baseline;
      overflow-x: auto;
      // margin-top: 10px;
      margin-top: $section-border-radius;
      .clouds-title,
      .humidity-title,
      .rain-title {
        justify-self: flex-start;
        font-size: 14px;
        // font-weight: 300;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 16px;
        }
        padding: 10px 0;
        border-bottom: 1px solid white;
        width: 100%;
      }
      .rain-title {
        white-space: nowrap;
      }
      .time-day-part {
        font-weight: 500;
        font-size: 18px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 20px;
        }
        margin-bottom: 4px;
      }
      .weekday {
        font-size: 12px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 14px;
        }
        font-weight: 300;
      }
      .weather-icon {
        img {
          width: 55px;
          height: 55px;
          @media screen and (min-width: $media-query-small-screen) {
            width: 75px;
            height: 75px;
          }
        }
        margin-bottom: 6px;
        @media screen and (min-width: $media-query-small-screen) {
          margin-bottom: 0;
        }
      }
      .weather-description {
        font-size: 12px;
        // font-weight: 500;
        // font-weight: 300;
        margin-top: -16px;
        margin-bottom: 12px;
        padding: 0 6px;
        text-align: center;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 14px;
        }
      }
      .temp {
        font-size: 18px;
        @media screen and (min-width: $media-query-small-screen) {
          font-size: 20px;
        }
        // font-weight: 400;
        margin-bottom: 6px;
      }
      .clouds,
      .humidity,
      .rain {
        // font-weight: 500;
        padding: 10px 0;
        font-size: 14px;
        // font-weight: 300;

        @media screen and (min-width: $media-query-small-screen) {
          font-size: 16px;
        }
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
      }
      .wind {
        margin-bottom: 6px;
      }
      // }
      // }
    }
    .display-more {
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      margin-top: $section-border-radius;
      @media screen and (min-width: $media-query-small-screen) {
        font-size: 16px;
      }
      a {
        display: flex;
        align-items: baseline;
        color: $primary-text-color;
        text-decoration: none;
        .show-details-arrow {
          margin-left: 4px;
        }
      }
    }
  }
}
