@import "../../../styles/partials/variables";

#two-days-forecast {
  display: flex;
  flex-direction: column;
  #two-days-forecast-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
