@import "../../../styles/partials/variables";

.logo {
  display: flex;
  align-items: center;
  padding: 4px 0;
  .logo-svg-wrapper {
    font-size: 22px;
    color: $logo-color;
  }
  .logo-text {
    display: none;
    @media screen and (min-width: $media-query-small-screen) {
      display: block;
    }
    color: $logo-text-color;
    font-weight: 500;
    text-decoration: none;
  }
}
