// breakpoints for resizing
$breakpoint-small: 480px;
$breakpoint-medium: 700px;
$breakpoint-large: 900px;

// color onHover vertical select-line and tooltip-circle data point
$select-line-tooltip-circle-color: black;

// color tick line and axis outer lines
$tick-line-axis-outer-lines-color: #c0c0bb;

// color for tick text, text label current time and axis label
$tick-text-text-label-current-time-axis-label-color: #635f5d;
