@import "./styles/partials/variables";

.App {
  display: flex;
  justify-content: center;
}
.weather-contents {
  margin-top: $nav-height;
  background-color: $secondary-bg-color;
  width: 100%;
  max-width: $media-query-xlarge-screen;
  .weather-contents-preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @media screen and (min-width: $media-query-large-screen) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
