@import "./styles/partials/variables";

.App {
  display: flex;
  justify-content: center;
  background-color: $primary-bg-color;
}
.weather-contents {
  margin-top: $nav-height;
  padding: 20px;
  width: 100%;
  max-width: $media-query-xlarge-screen;
  .weather-contents-preview {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    @media screen and (min-width: $media-query-large-screen) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    grid-gap: 20px;
  }
}
