@import "../styles/partials/variables";

.css-pre-loader {
  flex: 1;
  margin-top: $section-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $media-query-large-screen) {
    margin-bottom: $section-border-radius;
  }
  div {
    border: 8px solid $loader-bg-color;
    border-top: 8px solid $loader-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
