@import "../styles/partials//variables";

.weather-component-title {
  margin-top: -$section-border-radius;
  margin-left: -$section-border-radius;
  margin-right: -$section-border-radius;
  padding: $title-padding-y $title-padding-x;
  font-size: $title-font-size-small;
  @media screen and (min-width: $media-query-small-screen) {
    font-size: $title-font-size-large;
  }
  font-weight: 700;
  border-bottom: 1px solid white;
  border-radius: $section-border-radius $section-border-radius 0 0;
}
